body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

label {
    text-align: left;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

#apiForm {
    display: none;
}

#result {
    margin-top: 20px;
    font-weight: bold;
    color: #333;
}

#toast {
    visibility: hidden;
    min-width: 250px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 8px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    bottom: 30px;
    font-size: 17px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#toast.show {
    visibility: visible;
    opacity: 0;
    animation: fadeinout 5s ease-in-out;
}

@keyframes fadeinout {
    0% {
        bottom: 0;
        opacity: 0;
    }

    10% {
        bottom: 30px;
        opacity: 1;
    }

    90% {
        bottom: 30px;
        opacity: 1;
    }

    100% {
        bottom: 0;
        opacity: 0;
    }
}

.hist-container > textarea {
    width: 100%;
    height: calc(100% - 40px);
    bottom: 40px;
    display: none;
    position: fixed;
    left: 0;
}
.hist-container > button {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 40px;
}
